.outer-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

body {
  margin: 0;
}
@font-face {
  font-family: "Norse Bold";
  src: url("Norse-Bold.otf");
}
.cover-panel {
  flex: 1;
  background-image: url("cover-image.jpg");
  background-color: blue;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
}

.form-panel {
  flex: 2;
  height: 100%;
}

.title-banner {
  height: 20%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.67);
  color: white;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  margin-top: 30%;
}

.copyright {
  font-size: small;
  color: lightgray;
  width: 100%;
  text-align: center;
  margin-top: auto;
  margin-bottom: 2em;
}

.title-image {
  background-image: url("odin-lined.png");
  width: 5em;
  height: 6em;
  background-size: contain;
  background-repeat: no-repeat;
}
.title {
  font-size: 4em;
  line-height: 4em;
  font-family: "Norse Bold";
}

.caption {
  font-weight: bold;
  font-size: 20px;
  margin-left: 2em;
  font-family: "arial";
}

.row {
  display: flex;
  flex-direction: row;
}

.signup {
  display: flex;
  flex-direction: column;
}

.submit_button {
  display: flex;
  flex-direction: row;
}
